API_CACHE_FIXTURES_TTL=
API_CACHE_LIVE_TTL=
API_CACHE_RESULTS_TTL=
API_CACHE_STANDINGS_TTL=
API_CACHE_STATIC_TTL=
API_FOOTBALL_DAILY_LIMIT=
API_FOOTBALL_KEY=
API_FOOTBALL_SAFETY_LIMIT=
API_SPORTS_KEY=
GEMINI_API_KEY=
MONGODB_URI=
RAPIDAPI_KEY=
THE_ODDS_API_DAILY_LIMIT=
THE_ODDS_API_KEY=
THE_ODDS_API_MONTHLY_LIMIT=
VITE_API_URL=